# Folders to ignore
DEMO/
embeddings-test/
embeddings-train/
embeddings-validation/
preprocessed_frames-test/
preprocessed_frames-train/
preprocessed_frames-validation/

#venv
appearance

.vscode
.env
